quickshell/generated/
hypr/.config/hypr/colors.lua
hypr/.config/hypr/hyprlock-colors.conf
kitty/.config/kitty/colors.conf
fastfetch/.config/fastfetch/config.jsonc
cava/.config/cava/config
gtk-3.0/.config/gtk-3.0/gtk.css
gtk-4.0/.config/gtk-4.0/gtk.css

*.swp
*.swo
*~
.netrwhist

.bash_history
.zsh_history
fish_variables
fish_history

.DS_Store
*.log

.env
